<!DOCTYPE html>

<html lang="en">
<head>
  <title>buy5c</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Buy5c - A marketplace for the Claremont Colleges">
  <meta charset="utf-8">


  <!-- Loading Bootstrap -->
  <link href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}" rel="stylesheet" media="screen">

  <!-- Loading Flat UI -->
  <link href="{{url_for('static', filename='css/flat-ui.css')}}" rel="stylesheet">

  <!--Loading Billy.Css-->
  <link href="{{url_for('static', filename='css/billy.css')}}" rel="stylesheet">

  <!-- Upload JS -->
  <script>
   function chooseFile() {
      document.getElementById("fileInput").click();
   }
   function createListing() {
      document.getElementById("createListing").click();
   }
  </script>
  


</head>

<body>
      <!-- Navbar
=======
      ================================================== -->
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <ul class="logo pull-left">
              <li><a href="{{url_for('index')}}"><h1>buy5c</h1></a></li>
            </ul>
            <ul class="nav pull-left">
              <li id = "main-search">
                <form class="navbar-search pull-right" action="{{url_for('search')}}" method="POST">
                  <input type="text" name="terms" class="search-query" placeholder="Search in everything">
                </form>
              </li>
              <li><a href="{{url_for('sell')}}">SELL</a></li>
            </ul>
          {% if email %}
            <ul class = "nav pull-right">
              <li><a href="{{url_for('account')}}">ACCOUNT</a></li>
              <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
            </ul>
          {% else %}
            <ul class = "nav pull-right">
              <li><a href="{{url_for('login')}}">LOGIN/SIGNUP</a></li>
            </ul> 
          {% endif %}
            <ul id = "login-form" class="nav pull-left">
              
            </ul>


          </div>
        </div>
      </div>

    {% if message %}
    <div><h4>{{message}}</h4></div>
    {% endif %}

      {% block content %}{% endblock %}

        <!-- Footer
        ================================================== -->
        <footer class="footer">
          <!-- Nothing here yet.-->
        </footer>

  <script type="text/javascript" src="{{url_for('static', filename='js/jquery-2.0.3.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

  </body>
</html>

