<!DOCTYPE html>
{% extends 'header.html' %}

{% block content %}
<html>
<head>
   <title>buy5c - register</title>
</head>
<body>
    <div class="container">
        <div class="span12">
            <div class="row">
                <div class = "register-form">
                    <h1>register</h1>
                    <form action="{{ url_for('login') }}" method="POST" class="search-box">
                        <fieldset>
                            <div class="clearfix">
                                <input type="text" placeholder="Your school email" name="email">
                            </div>
                            <div class="clearfix">
                                <input type="text" placeholder="Your username" name="username">
                            </div>
                            <div class="clearfix">
                                <input type="password" placeholder="Your password" name="password">
                            </div>
                            <div class="clearfix">
                                <input type="password" placeholder="Confirm password" name="confirm_password">
                            </div>
                            <button class="btn primary" type="submit">register</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}
